[submodule "dependencies/tinylogger"]
	path = dependencies/tinylogger
	url = https://github.com/moonsikpark/tinylogger.git
[submodule "dependencies/args"]
	path = dependencies/args
	url = https://github.com/Taywee/args.git
[submodule "libdatachannel"]
	path = libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "dependencies/libdatachannel"]
	path = dependencies/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
